body {
    margin: 0;
    padding: 0;
    
}

main {
    padding: 16px;
}
header {
  background-color: aquamarine;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0;
    bottom: 0;
    width: 100%;

    background-color: palevioletred
}

nav {
    border: 1px solid black;
    padding: 16px;
}

nav a {
  margin-right: 10px;
}

a:hover {
    color: green;
  }

  a {
    text-decoration: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: orangered;
}
