{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up! - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/accounts.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Sign up!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Sign up</button>
        </form>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>